body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}
a{
    font-family:"微软雅黑";
    text-decoration: none;
}
.header{
    width: 960px;
    height: 66px;
    /*background-color: red;*/
    margin: 0 auto;
}
.header .logo{
    width: 167px;
    height: 66px;
    /*background-color: skyblue;*/
    line-height: 66px;
    margin-left: 20px;
    float: left;
}
.header .about{
    width: 220px;
    height: 66px;
    line-height: 66px;
    float: right;
    text-align: right;
}
.header .about a{
    font-size: 12px;
    color: #d8d8d8;
}
.header .nav{
    width: 960px;
    height: 40px;
    border: 1px solid #efefef;
    border-bottom:none;
    float: left;
    /*box-sizing: border-box;*/
}
.nav li{
    list-style: none;
    width: 98px;
    line-height: 40px;
    float: left;
    text-align: center;
    border-right: 1px solid #efefef;
}
.nav li a{
    font-size: 16px;
    color: black;
}
.nav li:nth-child(1){
    width: 73px;
    background-color: #a20d87;
}
.nav li span{
    color: white;
}
.cuxiao{
    width: 960px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #efefef;
    margin-top: 20px;
    /*background-color: orange;*/
}
.cuxiao a{
    font-size: 12px;
    color: #979797;
    margin-left: 20px;
}
.tuijian{
    width: 960px;
    height: 220px;
    /*background-color: green;*/
    margin: 0 auto;
    border: 1px solid #efefef;
    margin-top: 22px;
}
.tuijian img{
    width: 311px;
    height: 220px;
}
.tuijian .imgs1{
    width: 635px;
    float: left;
}
.tuijian .imgs1 .imgs1L{
    float: left;
}
.tuijian .imgs1 .imgs1R{
    float: right;
}
.tuijian .imgs2{
    float: right;
}
.footer{
    width: 960px;
    height: 30px;
    border: 1px solid #efefef;
    margin: 0 auto;
    margin-top: 36px;
    /*background-color: pink;*/
}
.footer span{
    /*margin-left: 20px;*/
}
.footer a {
    line-height: 30px;
    color: #979797;
    font-size: 12px;
}
.footer .footerL{
    float: left;
}
.footer .footerR{
    float: right;
}
.footer .footerL .qq{
    padding-left: 30px;
}
.footer .footerL .aa{
    margin-left: 20px;
}
.footer .footerL .bb{
    padding-left: 15px;
}
.footer .footerR a{
    color: #8c1079;
}

